.header{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  padding: 10px;
}

.canton{
  border-style: solid;
  border-width: 4px;
  border-color: blue;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

td {
  text-align: center;
  border-radius: 5px;
}


tr {
  color: white;
}

tr:nth-child(odd) {
  background: rgba(210,15,50,0.75);
}

tr:nth-child(even) {
  background: rgba(50,15,250,0.75);
}

tr:first-child {
  color: black;
}

