<div ui-view="home">
  <div>
    Home View
  </div>
  <table>
    <tr>
      <th>Abbreviation</th>
      <th>Name</th>
      <th>Date Established</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Area (sq. km)</th>
      <th>Density (per sq. km)</th>
      <th>Number of Municipalities</th>
      <th>Languagess</th>
    </tr>
    <tr ng-repeat="canton in cantons">
      <td>{{canton.abbr}}</td>
      <td>{{canton.name}}</td>
      <td>{{canton.since}}</td>
      <td>{{canton.capital}}</td>
      <td>{{canton.population}}</td>
      <td>{{canton.area}}</td>
      <td>{{canton.density}}</td>
      <td>{{canton.munis}}</td>
      <td>{{canton.langs}}</td>
    </tr>
  </table>
</div>